<footer class="topnav">
    <div class="footer-copyright">
        <div class="container">
            These articles are the property of <a href="https://www.weather.com/" target="_blank"> The Weather Channel
            </a>
            <a class="grey-text text-lighten-4 right" href="/articles.json"> JSON Article</a>
        </div>

    </div>
</footer>

<!--this is for styling purposes - to make sure that all is colored the same
topnav specifically -->