<nav>
    <div class="nav-wrapper topnav">
        <a href="/" class="brand-logo center"> New Scraper</a>
        <url class="right" id="nav-mobile">

            <!--this is my path for scraping and my route -->
            <li><a href="/scrape">Scrape</a></li>
            <li><a href="https://github.com/moorem1906/newsScrape.git" target="_blank">My Git Repo</a></li>
        </url>
    </div>





</nav>